page-cadastro-banco {
    ion-content{
        background-color: #F0F0F0!important;
    }
    h2{
        color: #000;
        font-size:1.5em;
        font-weight: 600;
    }
    ion-label.label.label-md {
        color: black;
        font-weight: 500;
    }
    .input-cover {
        border-radius: 12px;
        background-color: #B6B6B6;
        z-index: -1;
    }
    ion-input{
        input::placeholder {
          color:#fafafa!important;
        }
      }
      .input, .input-ios{
        background-color: #B6B6B6;
        border-radius: 12px;
      }
      ion-label.label.label-ios{
          color: #000;
          font-weight: 600;
      }
      .text-input-md{
          color: black;
          font-weight: 600;
      }
      ion-input.input.input-ios{
        border-radius: 12px;
        background-color: #b6b6b6;
        z-index: -1;
    }
    .input-cover {
        border-radius: 12px;
        background-color: #b6b6b6;
        z-index: -1;
     }
     .item-md{
         background-color: #b6b6b6;
         border-radius:12px;
     }
     .alert-wrapper{
         border-radius: 12px;
     }
     button.disable-hover.alert-button.alert-button-md.alert-button-default.alert-button-default-md {
        background: #13E07A;
        color: white;
        border-radius: 12px;
        border: 1px solid #707070;
        padding: 12px;
    }
}
