// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,900&display=swap');
body{
    margin: 0;
}
ion-header{
    padding: 16px 0 0 0;
}
h2{
    font-family: 'Roboto', sans-serif;
    font-weight: black;
}
p{
    font-family: 'Roboto', sans-serif;
    font-weight:100;
}
.aling-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-left{ 
    text-align: left;
}
.hide {
    display: none;
}
.show{
    display: block;
}
.display-inline-flex{
    display: inline-flex;
}
.color-white {
    color: white;
}
.ptop-5 {padding-top: 5px;}
.ptop-10{padding-top: 10px;}
.ptop-12{padding-top: 12px;}
.ptop-15{padding-top: 15px;}
.ptop-20{padding-top: 20px;}
.font-600{
    font-weight: 600!important;
}
.font-800{
    font-weight: 800!important;
}
.fit-content{
    height: fit-content;
} 
.toolbar-background-md, .header {
    border-color: #00B0C1;
    background: #00B0C1;
}
.header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios{
    border-color: #00B0C1;
    background: #00B0C1;
    top: 40px;
}

.btn-login{
    background-color: #43D935;
    border-radius: 12px;
    margin: 10px  0 -20px 0;
    width: 100%;
  }
  .list-ios > .item-block:first-child{
      border-top: none;
      border:none;
  }
  .bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
    color: #000000;
    background-color: transparent;
}
