
page-welcome{
  .content-md {
    color: #fff;
    background-color: #101C6E;
  }
  .content-ios{
    background: #101C6E;
    color:#fff;
  }
  .align-center{
    text-align: center;
  }
  .toolbar-background-md {
    border-color: #00B0C1;
    background: #00B0C1;
  }
  .toolbar-background-ios {
    border-color: #00B0C1;
    background: #00B0C1;
  }
  .btn-entrar{
  background-color: #1834D8;
  border-radius: 12px;
  }
  .btn-singup{
    background-color: #43D935;
    border-radius: 12px;
    margin: 10px  0 -20px 0;
    width: 100%;
  }
  .input-cover {
    border-radius: 12px;
    background-color: #3E4989;
    z-index: -1;
  }
  .label-md {
    margin: 13px 8px 4px 9px;
  }
  .label-ios {
    margin: 13px 8px 4px 9px;
  }
  ion-input.input.input-ios{
    border-radius: 12px;
    background-color: #3E4989;
    z-index: -1;
}

.list-singup{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.list-singup > ion-list{
  padding: 16px;
}
.list-singup > ion-item{
  background-color: transparent;
  padding: 2px;
  margin: 8px 0;
  color: white
}
.list-singup .input-cover{
  background-color: #3E4989;
  border: none;
}
.list-md .item-input:last-child {
  border-bottom: none;
}
.list-md .item-block .item-inner {
  border-bottom: none;
  }
  
}