ion-item.item.item-block.item-md.item-select {
    width: 98%;
    border-radius: 12px;
    background-color: #3e4989;
}
.item-md.item-block .item-inner {
    padding-right: 8px;
    border-bottom: 1px solid #dedede00;
}
.label-md{
    text-align: left;
}

.swiper-container.swiper-container-horizontal.swiper-container-android{
    min-height: 380px;
}
ion-input{
    width: 98%;
}
ion-select{
    width: 98%;
}
.inline-flex{
    display: inline-flex;
}
.margin-0{
    margin: 0!important;
}
.pleft-5{
    padding-left: 5px;
}
.show{
    display: block;
}
.hide{
    display: none;
}
ion-item.item.item-block.item-md.item-radio {
    background: #3e4989;
    color: white;
    width: 160px;
    margin: 0;
    padding-left: 10px;
    border-radius: 12px;
    margin-right: 6px;
}
.list-md{
    margin: 0;
}
.pleft-0{
    padding-left: 0;
}
.ptop-16{
    padding-top: 16px;
}

ion-item.item.item-block.item-md.item-checkbox {
    color: white;
    background: #101c6e0a;
}
ion-list.inline-flex.list.list-md {
    width: 100%;
}
ion-checkbox.checkbox.checkbox-md{
    margin:5px!important;
}