page-menu {
    .icon-cards{
        max-height: 110px;
        max-width: 116px;
        margin: 4px auto;
    }
    .content-md {
        color: #000!important;
        background-color: #FFF!important;
    }
    .content-ios {
        color: #000!important;
        background-color: #FFF!important;
    }
    button{
        background: #f0f8ff00;
    }
    ion-card.card.card-md {
        height: 150px;
        border-radius: 12px;
        background-color: #101C6E;
        padding: 6px;

    }
    ion-card.card.card-ios {
        height: 140px;
        border-radius: 12px;
        background-color: #101C6E;
        padding: 6px;
    }
    
    .btn-cadastro-incompleto{
        background-color: rgba(255, 200, 1, 0.671);
        width: 100%;
        padding: 26px;
        box-shadow: none;
        color: #0000009f;
        font-weight: 600;
        border-radius: 28px;
    }
    .codigo-loumar{
        background-color: #CDCDCD;
        box-shadow: none;
        padding: 26px 38px;
        border-radius: 28px;
        
    }
    .text-center{
        text-align: center;
    }
    .font-600{
        font-weight: 600;
    }
    .font-1-5em{
        font-size: 1.5em;
    }
    p{
        color: #0000009f;
    }
    .text-uppercase{
        text-transform: uppercase;
    }
    .pleft-15{
        padding-left: 15px;
    }

    @keyframes btn-cadastro-incompleto{
        0%   { opacity: 1; }
        
        50%  { opacity: 0.8; }
        
        100% { opacity: 1; }
    }
   .btn-cadastro-incompleto{
      -webkit-animation: btn-cadastro-incompleto .95s cubic-bezier(0.19, 1.27, 0.69, 1.78) infinite;
      -moz-animation:    btn-cadastro-incompleto .95s cubic-bezier(0.19, 1.27, 0.69, 1.78) infinite;
      -ms-animation:     btn-cadastro-incompleto .95s cubic-bezier(0.19, 1.27, 0.69, 1.78) infinite;
      -o-animation:      btn-cadastro-incompleto .95s cubic-bezier(0.19, 1.27, 0.69, 1.78) infinite;
      animation:        btn-cadastro-incompleto 0.95s cubic-bezier(0.63, -0.01, 0.04, -0.26) infinite;

   }
}
